<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="/public/imgs/favicon/panda_16x16.ico" type="image/x-icon">
    <link rel="icon" href="/public/imgs/favicon/panda_16x16.ico" type="image/x-icon">

    <title>经验</title>


    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/main.css">


</head>
<body>
    <header class="website-header">
        <ul>
            <li class="active">
                <a href="#">HTML</a>
            </li>
            <li>
                <a href="#">CSS</a>
            </li>
            <li>
                <a href="#">JAVASCRIPT</a>
            </li>
            <li>
                <a href="#">JQUERY</a>
            </li>
            <li>
                <a href="#">BOOTSTRAP</a>
            </li>
            <li>
                <a href="#">VUE</a>
            </li>
            <li>
                <a href="#">ELEMENT</a>
            </li>
            <li>
                <a href="#">REACT</a>
            </li>
            <li>
                <a href="#">REACTNATIVE</a>
            </li>
            <li>
                <a href="#">NODE</a>
            </li>
            <li>
                <a href="#">EGG</a>
            </li>
        </ul>
    </header>
    <div class="website-main">
        <div class="website-sidebar">
            <ul>
                <li class="active">
                    <a href="#">1. MobX 介绍</a>
                    <ul>
                        <li>
                            <a href="#">1.1. MobX 要点</a>
                        </li>
                        <li>
                            <a href="#">1.2. 概念与原则</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>3. Observable类型</span>
                    <ul>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>3. Observable类型</span>
                    <ul>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>3. Observable类型</span>
                    <ul>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                        <li>
                            <a href="#">3.1. objects</a>
                        </li>
                        <li>
                            <a href="#">3.2. arrays</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="website-content">
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
            <p style="height: 100px;">kkkkkkkkk</p>
        </div>
    </div>
</body>
</html>