
{% extends '../../../tpl/layout_sql.html' %}

{% set title_suffix = 'where' %}

{% block content %}
<h1>where</h1>

<h2>简介</h2>
<p>WHERE 子句用于过滤行。</p>

<pre>
SELECT column_name,column_name
FROM table_name
WHERE column_name operator value;
</pre>

<h2>WHERE 子句中的运算符</h2>
<p>值为字符串时需用单引号括起来，值为数值时不带引号。</p>
<table>
    <thead>
        <tr>
            <th>运算符</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>=</td>
            <td>等于</td>
        </tr>
        <tr>
            <td><></td>
            <td>不等于。注：在 SQL 的一些版本中，该操作符可被写成 !=</td>
        </tr>
        <tr>
            <td>></td>
            <td>大于</td>
        </tr>
        <tr>
            <td><</td>
            <td>小于</td>
        </tr>
        <tr>
            <td>>=</td>
            <td>大于等于</td>
        </tr>
        <tr>
            <td><=</td>
            <td>小于等于</td>
        </tr>
        <tr>
            <td>BETWEEN</td>
            <td>在某个范围内（MySQL包含临界值）。where column_name between 1500 and 3000;值可以是数值、文本或者日期。相应地有 not between</td>
        </tr>

        <tr>
            <td>IN</td>
            <td>多个可能值之一。where column_name in (5000,3000,1500);</td>
        </tr>
        <tr>
            <td>LIKE</td>
            <td>模糊查询。where column_name like 'xxx%'; 相应地有 not like</td>
        </tr>
        <tr>
            <td>is null</td>
            <td>空值判断。where column_name is null;相应地有 is not null</td>
        </tr>

    </tbody>
</table>

<h2>WHERE 子句中的逻辑运算符</h2>
<table>
    <thead>
        <tr>
            <th>逻辑运算符</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>And</td>
            <td>与，同时满足。where sal > 2000 and sal < 3000;</td>
        </tr>
        <tr>
            <td>Or</td>
            <td>或，满足其中之一。where sal > 2000 or comm > 500;</td>
        </tr>
        <tr>
            <td>Not</td>
            <td>非，满足不符合该条件的。where not sal > 1500;</td>
        </tr>
    </tbody>
</table>


<h2>LIKE 中使用的通配符</h2>
<table>
    <thead>
        <tr>
            <th>通配符</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>%</td>
            <td>替代 0 个或多个字符。如：'https%'（以https开头）、'%oo%'（包含oo）</td>
        </tr>
        <tr>
            <td>_</td>
            <td>替代一个字符</td>
        </tr>
        <tr>
            <td>[abc]</td>
            <td>字符列中的任何单一字符</td>
        </tr>
        <tr>
            <td>[^abc]或[!abc]</td>
            <td>不在字符列中的任何单一字符</td>
        </tr>
    </tbody>
</table>

<p>MySQL 中可以使用 REGEXP 或 NOT REGEXP 运算符 (或 RLIKE 和 NOT RLIKE) 来操作正则表达式。如：WHERE name REGEXP '^[A-H]'; name以A-H开头</p>





{% endblock %}