
{% extends '../../tpl/layout_html.html' %}

{% set title_suffix = '引言' %}

{% block content %}

<h1>引言</h1>
<p>HTML作为超文本标记语言，诞生的意义便在于标记各内容，以便于浏览器更好的解析和展示内容。从诞生至今已更新了多个版本。</p>
<table>
    <caption>各版本发布时间如下</caption>
    <thead>
    <tr>
        <th>版本</th>
        <th>发布时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>HTML</td>
        <td>1991</td>
    </tr>
    <tr>
        <td>HTML +</td>
        <td>1993</td>
    </tr>
    <tr>
        <td>HTML 2.0</td>
        <td>1995</td>
    </tr>
    <tr>
        <td>HTML 3.2</td>
        <td>1997</td>
    </tr>
    <tr>
        <td>HTML 4.01</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>XHTML 1.0</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>HTML 5</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>XHTML 5</td>
        <td>2013</td>
    </tr>
    </tbody>
</table>
<p>HTML定义了众多的标签。现有122个标签，包括已废弃的12个标签。</p>

{% endblock %}