
{% extends '../../../tpl/layout_mock.html' %}

{% set title_suffix = '数据占位符定义规范' %}

{% block content %}

<h1>数据占位符定义规范</h1>
<h2>简介</h2>
<p>占位符 只是在属性值字符串中占个位置，并不出现在最终的属性值中。</p>
<pre>
@占位符
@占位符(参数 [, 参数])
</pre>

<ol>
    <li>用 @ 来标识其后的字符串是 占位符。</li>
    <li>占位符 引用的是 Mock.Random 中的方法。</li>
    <li>可以通过 Mock.Random.extend() 来自定义占位符。</li>
    <li>占位符 会优先引用 数据模板 中的属性。</li>
    <li>占位符 支持 相对路径 和 绝对路径。</li>
</ol>

<h2>举例</h2>
<pre>
Mock.mock({
    name: {
        first: '@first',
        middle: '@first',
        last: '@last',
        full: '@first @middle @last'
    }
})
// =>
{
    "name": {
        "first": "Charles",
        "middle": "Brenda",
        "last": "Lopez",
        "full": "Charles Brenda Lopez"
    }
}
</pre>








{% endblock %}