
{% extends '../../../tpl/layout_mock.html' %}

{% set title_suffix = 'Mock.Random' %}

{% block style %}
{{super()}}
<style>
    table tr th:first-child,table tr td:first-child{
        min-width:100px;
    }
</style>
{% endblock %}


{% block content %}

<h1>Mock.Random</h1>
<h2>简介</h2>
<p>Mock.Random 是一个工具类，用于生成各种随机数据。Mock.Random 的方法在数据模板中称为『占位符』，书写格式为 @占位符(参数 [, 参数]) 。</p>

<pre>
Mock.Random.email()  // "n.clark@miller.io"
Mock.mock('@email')  // "y.lee@lewis.org"
Mock.mock( { email: '@email' } )  //  { email: "v.lewis@hall.gov" }
</pre>

<p>Mock.Random 中提供的方法分为以下几类：Basic、Image、Color、Text、Name、Web、Address、Helper、Miscellaneous。</p>

<h2>Basic</h2>
<table>
    <thead>
        <tr>
            <th>方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>boolean、bool</td>
            <td>返回一个随机的布尔值。boolean( min?, max?, current? ) 若无参数则返回true和false的概率 皆为50%；否则返回current的概率为min / (min + max)，返回!current的概率为max / (min + max)，current为布尔值。</td>
        </tr>
        <tr>
            <td>natural</td>
            <td>返回一个随机的自然数（大于等于 0 的整数）。natural( min?, max? )，min表示最小值，默认为0，max为最大值，默认为 9007199254740992。</td>
        </tr>
        <tr>
            <td>integer</td>
            <td>返回一个随机的整数。integer( min?, max? )</td>
        </tr>
        <tr>
            <td>float</td>
            <td>返回一个随机的浮点数。float( min?, max?, dmin?, dmax? )，整数部分[min,max]，小数位数为[dmin,dmax]，默认为[0,17]</td>
        </tr>
        <tr>
            <td>character</td>
            <td>返回一个随机字符。character( pool? )或character( 'lower/upper/number/symbol' )，pool为字符串，表示字符池，将从中选择一个字符返回。另外内置了几个特定的字符池。</td>
        </tr>
        <tr>
            <td>string</td>
            <td>返回一个随机字符串。string( pool?, min?, max? )或string( pool?, length? )，字符串的长度为[min,max]，默认为[3,7]，length指定长度。pool为字符串，表示字符池，可选，另外内置了几个特定的字符池，同上。</td>
        </tr>
        <tr>
            <td>range</td>
            <td>返回一个整型数组。range( start?, stop, step? )，同python。</td>
        </tr>
        <tr>
            <td>date</td>
            <td>返回一个随机的日期字符串。date( format? )，format默认为 yyyy-MM-dd。占位符如下：yyyy、yy同y、MM、M、dd、d、HH(二十四小时制)、H、hh(十二小时制)、h、mm、m、ss、s、SS(毫秒)、S、A(表示AM/PM)、a(表示am/pm)、T(时间戳)</td>
        </tr>
        <tr>
            <td>time</td>
            <td>返回一个随机的时间字符串。time( format? )，format默认为 HH:mm:ss。</td>
        </tr>
        <tr>
            <td>datetime</td>
            <td>返回一个随机的日期和时间字符串。datetime( format? )，format默认为 yyyy-MM-dd HH:mm:ss。</td>
        </tr>
        <tr>
            <td>now</td>
            <td>返回当前的日期和时间字符串。now( unit?, format? )，unit表示时间单位，用于对当前日期和时间进行格式化（单位之后的归零）。可选值有：year、month、day、hour、minute、second、week，默认不会格式化。format默认为 yyyy-MM-dd HH:mm:ss。</td>
        </tr>
    </tbody>
</table>

<h2>Image</h2>
<table>
    <tbody>
        <tr>
            <td>image</td>
            <td>生成一个随机的图片地址。image( size?, background?, foreground?, format?, text? )，format有'png'、'gif'、'jpg' ，text默认值为参数 size。如：Random.image('200x100', '#00405d', '#FFF', 'png', 'Mock.js')</td>
        </tr>
        <tr>
            <td>dataImage</td>
            <td>生成一段随是机的 Base64 图片编码，图片的背景色随机的。dataImage( size?, text? )</td>
        </tr>
    </tbody>
</table>
<h2>Color</h2>
<table>
    <tbody>
        <tr>
            <td>color、hex、rgb、rgba、hsl</td>
            <td>随机生成一个颜色。格式分别为：'#RRGGBB'、'#RRGGBB'、'rgb(r, g, b)'、'rgba(r, g, b, a)'、'hsl(h, s, l)'。</td>
        </tr>
    </tbody>
</table>
<h2>Text</h2>
<table>
    <tbody>
        <tr>
            <td>paragraph、cparagraph</td>
            <td>随机生成一段文本。paragraph( len? )或paragraph( min, max )，文本中句子的个数默认为[3,7]</td>
        </tr>
        <tr>
            <td>sentence、csentence</td>
            <td>随机生成一个句子，第一个单词的首字母大写。sentence( len? )或sentence( min, max )，单词个数默认为[12,18]</td>
        </tr>
        <tr>
            <td>word</td>
            <td>随机生成一个单词。word( len? )或word( min, max )，单词中字符的个数默认为[3,10]</td>
        </tr>
        <tr>
            <td>cword</td>
            <td>随机生成一个汉字字符串。cword( pool?, min?, max? )，pool为汉字字符串，表示汉字字符池，将从中选择一个汉字字符返回。min和max都表示汉字的长度，默认皆为1</td>
        </tr>
        <tr>
            <td>title、ctitle</td>
            <td>随机生成一句标题，其中每个单词的首字母大写。title( len? )或title( min, max )，标题中单词的个数默认为[3,7]</td>
        </tr>
    </tbody>
</table>
<h2>Name</h2>
<table>
    <tbody>
        <tr>
            <td>first、cfirst</td>
            <td>随机生成一个常见的(英文)名。</td>
        </tr>
        <tr>
            <td>last、clast</td>
            <td>随机生成一个常见的(英文)姓。</td>
        </tr>
        <tr>
            <td>name</td>
            <td>随机生成一个常见的英文姓名。name( middle? )，middle为布尔值，表示是否需要中间名</td>
        </tr>
        <tr>
            <td>cname</td>
            <td>随机生成一个常见的中文姓名。</td>
        </tr>
    </tbody>
</table>

<h2>Web</h2>
<table>
    <tbody>
        <tr>
            <td>url</td>
            <td>随机生成一个 URL。url( protocol?, host? )，protocol指定 URL 协议，如 http。host指定 URL 域名和端口号</td>
        </tr>
        <tr>
            <td>protocol</td>
            <td>
                随机生成一个 URL 协议。返回以下值之一：'http'、'ftp'、'gopher'、'mailto'、'mid'、'cid'、'news'、'nntp'、'prospero'、'telnet'、'rlogin'、'tn3270'、'wais'。
            </td>
        </tr>
        <tr>
            <td>domain</td>
            <td>随机生成一个域名。</td>
        </tr>
        <tr>
            <td>tld</td>
            <td>随机生成一个顶级域名（Top Level Domain），如 "net"。</td>
        </tr>
        <tr>
            <td>email</td>
            <td>随机生成一个邮件地址。email( domain? )，domain 指定邮件地址的域名</td>
        </tr>
        <tr>
            <td>ip</td>
            <td>随机生成一个 IP 地址。</td>
        </tr>

    </tbody>
</table>


<h2>Address</h2>
<table>
    <tbody>

        <tr>
            <td>region</td>
            <td>随机生成一个（中国）大区。如 "华北"</td>
        </tr>
        <tr>
            <td>province</td>
            <td>随机生成一个（中国）省（或直辖市、自治区、特别行政区）。</td>
        </tr>
        <tr>
            <td>city</td>
            <td>随机生成一个（中国）市。city( prefix? )，prefix 布尔值，指示是否生成所属的省。如 "福建省 漳州市"</td>
        </tr>
        <tr>
            <td>county</td>
            <td>随机生成一个（中国）县。county( prefix? )，prefix 布尔值，指示是否生成所属的省、市。如 "甘肃省 白银市 会宁县"</td>
        </tr>
        <tr>
            <td>zip</td>
            <td>随机生成一个邮政编码（六位数字）。</td>
        </tr>
    </tbody>
</table>


<h2>Helper</h2>
<table>
    <tbody>
        <tr>
            <td>capitalize</td>
            <td>把字符串的第一个字母转换为大写。capitalize( str )</td>
        </tr>
        <tr>
            <td>upper</td>
            <td>把字符串转换为大写。upper( str )</td>
        </tr>
        <tr>
            <td>lower</td>
            <td>把字符串转换为小写。lower( str )</td>
        </tr>
        <tr>
            <td>pick</td>
            <td>从数组中随机选取一个元素，并返回。pick( arr )</td>
        </tr>
        <tr>
            <td>shuffle</td>
            <td>打乱数组中元素的顺序，并返回新数组。shuffle( arr )</td>
        </tr>
    </tbody>
</table>

<h2>Miscellaneous</h2>
<table>
    <tbody>
        <tr>
            <td>guid</td>
            <td>随机生成一个 GUID。</td>
        </tr>
        <tr>
            <td>id</td>
            <td>随机生成一个 18 位身份证。</td>
        </tr>
        <tr>
            <td>increment</td>
            <td>生成一个全局的自增整数。increment( step? )，step为整数自增的步长。默认值为 1</td>
        </tr>
    </tbody>
</table>


<h2>自定义占位符</h2>
<p>Mock.Random 中的方法与数据模板的 @占位符 一一对应。可以使用 Mock.Random.extend() 来自定义占位符。</p>

<pre>
Mock.Random.extend({
    constellation: function(date) {
        var constellations = ['白羊座', '金牛座', '双子座', '巨蟹座', '狮子座', '处女座', '天秤座', '天蝎座', '射手座', '摩羯座', '水瓶座', '双鱼座']
        return this.pick(constellations)
    }
})
Mock.mock({ constellation: '@CONSTELLATION' })    //  { constellation: "射手座" }
</pre>








{% endblock %}