
{% extends '../../../tpl/layout_node.html' %}

{% set title_suffix = 'fs - 文件系统' %}

{% block content %}

<h1>fs - 文件系统</h1>
<h2>简介</h2>
<p>fs 是 filesystem 的缩写，该模块提供了对本地文件的读写能力，基本上是对标准 POSIX（可移植操作系统接口）函数的简单封装。几乎所有的方法都有异步和同步的形式。</p>
<p>异步方法的最后一个参数都是一个回调函数。回调函数的第一个参数都会保留给异常。如果操作成功完成，则第一个参数会是 null 或 undefined。</p>
<p>当使用同步方法时，任何异常都会被立即抛出。 可以使用 try/catch 来处理异常，或让异常向上冒泡。</p>

<pre>
var  fs  =  require('fs');
</pre>


<h2>方法</h2>
<table>
    <thead>
        <tr>
            <th>方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>readFile(path[,options],callback)</td>
            <td>异步地读取一个文件的全部内容。path为文件路径，可以是绝对路径或相对路径。如果是相对路径，则是相对于当前进程所在的路径（process.cwd()），而不是相对于当前脚本所在的路径。options默认为{ encoding:null,flag:'r' }，返回buffer实例，若指定了编码如'utf8'或第二个参数就是字符串如'utf8'，则返回内容字符串。</td>
        </tr>
        <tr>
            <td>readFileSync(path[,options])</td>
            <td>fs.readFile() 的同步版本</td>
        </tr>
        <tr>
            <td>writeFile(file,data[,options],callback)</td>
            <td>异步地写入数据到文件，如果文件已经存在，则替代文件。data 可以是一个字符串或一个 buffer。options默认为{ encoding:'utf8',flag:'w',mode:0o666 }，如果 data 是一个 buffer，则忽略 encoding。</td>
        </tr>
        <tr>
            <td>writeFileSync(file,data[,options])</td>
            <td>fs.writeFile() 的同步版本。返回 undefined。</td>
        </tr>
        <tr>
            <td>createReadStream(path[,options])</td>
            <td>返回一个新建的 ReadStream 对象。options默认为{ flags:'r', encoding: null, fd: null, mode: 0o666, autoClose: true, start:无, end:无 }。如果传入的 options 是一个字符串，则它指定了字符编码。</td>
        </tr>
        <tr>
            <td>createWriteStream(path[,options])</td>
            <td>返回一个新建的 WriteStream 对象。options默认为{ flags:'w', defaultEncoding:'utf8', fd: null, mode: 0o666, autoClose: true, start: 无 }。如果是修改一个文件而不是覆盖它，则需要flags 模式为 r+ 而不是默认的 w 模式。如果传入的 options 是一个字符串，则它指定了字符编码。</td>
        </tr>

        <tr>
            <td>readdir(path[,options],callback)</td>
            <td>异步地读取目录。options默认为{ encoding:'utf8' }。callback有两个参数(err, files)</td>
        </tr>
        <tr>
            <td>readdirSync(path[,options])</td>
            <td>同步地读取目录，返回由所包含的文件名和子目录名组成的数组。</td>
        </tr>

        <tr>
            <td>mkdir(path[,mode],callback)</td>
            <td>异步地新建目录。mode默认值为0o777</td>
        </tr>
        <tr>
            <td>mkdirSync(path[,mode])</td>
            <td>同步地新建目录。</td>
        </tr>


        <tr>
            <td>watchfile(filename[,options],listener)</td>
            <td>监视文件的变化。回调 listener 会在每次访问文件时被调用。options默认为{ persistent:true,interval:5007 }。listener有两个参数，当前的状态对象和以前的状态对象，都是fs.Stats对象。如果想在文件被修改而不只是访问时得到通知，则需要比较前后状态的mtime</td>
        </tr>
        <tr>
            <td>unwatchfile(filename[,listener])</td>
            <td>停止监视文件的变化。如果指定了 listener，则只移除特定的监听器。否则，所有的监听器都会被移除，且已经有效地也停止监视。</td>
        </tr>
        <tr>
            <td>watch(path[,options][,listener])</td>
            <td>监视 path 的变化，path可以是文件或目录。options默认为{ persistent:true,recursive:false,encoding:'utf8' }，若传入的options是一个字符串，则它指定了encoding。listener有两个参数 (eventType, filename)，eventType可以是 'rename' 或 'change'，filename 是触发事件的文件的名称。在大多数平台，当一个文件出现或消失在一个目录里时，'rename' 会被触发。此方法比 fs.watchFile 和 fs.unwatchFile 更高效</td>
        </tr>

        <tr>
            <td>stat(path,callback)</td>
            <td>异步地获取文件或目录的信息，callback有两个参数 (err, stats)</td>
        </tr>
        <tr>
            <td>statSync(path)</td>
            <td>同步地获取文件或目录的信息，返回一个fs.Stats对象</td>
        </tr>

    </tbody>
</table>

<h2>使用注意</h2>
<h3>1. 行结尾字符</h3>
<p>不同系统的行结尾字符不同，可以用下面的方法判断：</p>
<pre>
var EOL = fileContents.indexOf('\r\n') >= 0 ? '\r\n' : '\n';

var EOL = process.platform === 'win32' ? '\r\n' : '\n';
</pre>





























{% endblock %}