
{% extends '../../../tpl/layout_node.html' %}

{% set title_suffix = 'global - 全局变量' %}

{% block content %}

<h1>global - 全局变量</h1>
<h2>简介</h2>
<p>global 是 Node.js 中的全局命名空间对象。区别于浏览器中的window对象。</p>

<table>
    <thead>
        <tr>
            <th>属性/方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>console</td>
            <td>调试控制台，类似于浏览器中的console，但多了一个console.Console属性，返回Console类</td>
        </tr>
        <tr>
            <td>process</td>
            <td>进程对象，用于控制当前 Node.js 进程。详情参考 <a href="/node/process">process对象</a></td>
        </tr>
        <tr>
            <td>Buffer</td>
            <td>用于处理二进制数据流。Buffer 类以一种更优化、更适合 Node.js 用例的方式实现了 Uint8Array API，Buffer 类的实例类似于整数数组。详情参考 <a href="/node/Buffer">Buffer对象</a></td>
        </tr>
        <tr>
            <td>setTimeout()、clearTimeout()</td>
            <td>延迟一定的时间再调用，当延迟大于 2147483647 或小于 1 时，会被设为 1。返回一个Timeout实例。</td>
        </tr>

        <tr>
            <td>setInterval()、clearInterval()</td>
            <td>每隔一定的时间便重复调用，当间隔大于 2147483647 或小于 1 时，会被设为 1。返回一个Timeout实例。</td>
        </tr>
        <tr>
            <td>setImmediate()、clearImmediate()</td>
            <td>在 Node.js 事件循环的当前回合结束时立即调用。返回一个Immediate实例。</td>
        </tr>

    </tbody>
</table>

<h2>Console类</h2>
<p>console.Console返回Console类，new Console(stdout[, stderr])可创建一个Console实例对象。</p>
<pre>
const { Console } = console;
const output = fs.createWriteStream('./stdout.log');
const errorOutput = fs.createWriteStream('./stderr.log');
const logger = new Console(output, errorOutput);

const count = 5;
logger.log('count: %d', count);  // 在stdout.log 文件中打印: count 5
</pre>

<p>全局的 console 是一个特殊的 Console 实例，它的输出会发送到 process.stdout 和 process.stderr。 相当于调用：</p>
<pre>
new Console(process.stdout, process.stderr);
</pre>




{% endblock %}