
{% extends '../../../tpl/layout_node.html' %}

{% set title_suffix = 'process - 进程' %}

{% block content %}

<h1>process - 进程</h1>
<h2>简介</h2>
<p>process 对象是一个全局变量，用以控制当前 Node.js 进程。</p>

<h2>属性</h2>
<table>
    <thead>
        <tr>
            <th>属性</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
    </tbody>
</table>

<h2>方法</h2>
<table>
    <thead>
        <tr>
            <th>方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
    </tbody>
</table>

<h2>事件</h2>
<table>
    <thead>
        <tr>
            <th>事件</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>属性</td>
            <td>说明</td>
        </tr>
    </tbody>
</table>

{% endblock %}