
{% extends '../../../tpl/layout_python.html' %}

{% set title_suffix = '私有属性和方法' %}

{% block content %}

<h1>私有属性和方法</h1>

<h2>简介</h2>
<p>在 Java 和 C++ 中，可以用 private 和 protected 关键字修饰属性和方法，它们控制属性和方法能否被外部或者子类访问。在 Python 中约定以双下划线（__）为前缀的属性和方法名为私有的，拒绝在类外进行访问。注：不要以双下划线结尾。</p>
<pre>
class MyClass(object):
    def __private(self):
        print("I'm private!")

mc = MyClass()
mc.__private()  #将报错
mc._MyClass__private()  #可以访问
</pre>
<p>这种私有属性和方法可以通过 obj._Classname__privateAttributeOrMethod 来进行访问。同时以双下划线结尾的属性和方法不行。</p>

<h2>特殊属性和方法</h2>
<p>Python 中有一些同时以双下划线为前缀和后缀的特殊属性和方法。</p>

<table>
    <thead>
        <tr>
            <th>特殊属性和方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>__class__</td>
            <td>获取实例对象的类型对象</td>
        </tr>
        <tr>
            <td>__name__</td>
            <td>获取某个类型对象的名字</td>
        </tr>
        <tr class="separator"><td></td><td></td></tr>
        <tr>
            <td>__new__()</td>
            <td>构造函数，创建实例对象时调用</td>
        </tr>
        <tr>
            <td>__init__()</td>
            <td>初始化函数，初始化实例对象时调用</td>
        </tr>
        <tr>
            <td>__del__()</td>
            <td>析构函数，释放对象时使用</td>
        </tr>
        <tr>
            <td>__len__()</td>
            <td>获得长度</td>
        </tr>
        <tr>
            <td>__str__()</td>
            <td>对象转字符串，使用 print() 函数时显示该结果</td>
        </tr>
        <tr>
            <td>__repr__()</td>
            <td>对象转字符串，非使用 print() 函数时显示该结果</td>
        </tr>
        <tr>
            <td>__setitem__()</td>
            <td>按照索引赋值</td>
        </tr>
        <tr>
            <td>__getitem__()</td>
            <td>按照索引获取值</td>
        </tr>
        <tr>
            <td>__call__()</td>
            <td>函数调用</td>
        </tr>
        <tr class="separator"><td></td><td></td></tr>
        <tr>
            <td>__cmp__()</td>
            <td>比较运算</td>
        </tr>
        <tr>
            <td>__add__(self,other)</td>
            <td>加运算</td>
        </tr>
        <tr>
            <td>__sub__()</td>
            <td>减运算</td>
        </tr>
        <tr>
            <td>__mul__()</td>
            <td>乘运算</td>
        </tr>
        <tr>
            <td>__div__()</td>
            <td>除运算</td>
        </tr>
        <tr>
            <td>__mod__()</td>
            <td>求余运算</td>
        </tr>
        <tr>
            <td>__pow__()</td>
            <td>乘方运算</td>
        </tr>


    </tbody>
</table>


{% endblock %}