
{% extends '../../../tpl/layout_python.html' %}

{% set title_suffix = '基本语法' %}

{% block content %}

<h1>基本语法</h1>

<h2>变量赋值</h2>
<p>在 Python 中变量不用声明，可直接赋值，以创建新变量或修改旧变量。且变量的类型是不固定的。</p>
<p>变量本身类型不固定的语言称之为动态语言，与之对应的是静态语言。</p>
<pre>
a = 1
a = b = c = 1
a, b = 1, 2
a, b = b, a
</pre>

<h2>常量</h2>
<p>常量即不能变的变量，比如数学常数π。但由于 Python 中变量不用声明，所以 Python 根本没有任何机制保证变量不会被改变，因此实际上 Python 中是没有绝对常量的，但通常用全部大写的变量名表示常量。</p>

<h2>标识符</h2>
<p>标识符 是用来识别具体对象的一个名称。最常见的标识符就是 变量名、函数名、类名。几乎所有编程语言的标识符都对大小写敏感。</p>
<p>标识符可以使用任意Unicode字母（包括英文字母和其他语言的字母），以及下划线（_）。但首字符不能是数字（0-9）。</p>

<h2>注释</h2>
<p>单行注释：#此处为注释内容；多行注释：'''此处为注释内容'''，或 """此处为注释内容"""。</p>
<h4>Shebang（#!）</h4>
<p>Shebang这个符号通常在Unix系统的脚本中第一行开头中写到，它指明了执行这个脚本文件的解释程序。如：</p>
<pre>
#!/usr/bin/env python3
</pre>
<h4>编码格式</h4>
<p>可以在文件的开头声明文件的编码格式。如：</p>
<pre>
#coding=utf-8
# -*- coding: UTF-8 -*-
</pre>

<h2>同一行显示多条语句</h2>
<p>Python 中可以在同一行中使用多条语句，语句之间使用分号(;)分隔。</p>
<pre>
import sys; x = 'aaa'; sys.stdout.write(x + '\n')
</pre>

<h2>条件语句</h2>
<p>Python 中的条件语句只有 if – elif – else 。没有switch – case，也没有三元运算符( ? : )。</p>
<p>以下表达式值会被当作False ：False、None、0、空字符串、空列表、空字典、空集合。</p>
<pre>
score = 99
if score >= 80 :
    print('优秀')
elif score >= 60 :
    print('及格')
else:
    print('不及格')
</pre>

<h2>循环</h2>
<p>循环中可以使用 break 终止循环，使用 continue 立即停止本次循环而进行下一次循环。else 语句只有在循环正常结束时才执行，使用 break 终止时不会被执行。</p>

<h3>一、for ... in</h3>
<pre>
for i in range(10):
    print(i)
else:
    print('end')
# 无限循环
ls = [1]
for i in ls:
    print(i)
    ls.append(i+1)
</pre>
<p>对于for循环，可以想象为有一个计数器记录着循环的位置，每一次循环该计数器便会加一，因此在循环过程中对循环对象增加或删除元素，都将可能引发跳值现象。</p>
<p>注：for循环的索引变量和在其内部定义的变量都将溢出到外部的作用域内，即在循环体外可以访问到这些变量。</p>

<h3>二、while</h3>
<pre>
a = 3
while a > 0:
    print(a)
    a -= 1
else:
    print('end')
# 无限循环
while True:
    print(1)
</pre>




{% endblock %}