
{% extends '../../../tpl/layout_python.html' %}

{% set title_suffix = '数字' %}

{% block content %}

<h1>数字</h1>

<h2>简介</h2>
<p>Python3 支持 int、float、bool、complex（复数）。</p>

<p>整数和浮点数在计算机内部存储的方式是不同的，整数运算永远是精确的（除法难道也是精确的？是的！），而浮点数运算则可能会有四舍五入的误差。</p>

<h2>整数（int）</h2>
<p>整数的 加（+）、减（-）、乘（*）、地板除（//）、取余（%）、幂（**）等运算返回的都是整数。而 除法（/）返回的始终是浮点数，不管是否能整除。</p>
<pre>
1 // 2 == 0
1 / 2 == 0.5
2 / 1 == 2.0
</pre>
<p>注：在Python 2.7中，整型的运算结果只能返回整型，除法的结果也不例外，即除法（/）与地板除（//）相同。</p>

<h2>布尔值（bool）</h2>
<p>布尔值 True == 1、False == 0，可与整数和浮点数等进行运算。</p>

<h2>浮点数（float）</h2>
<p>浮点数的所有运算都返回浮点数，包括地板除（//）。而且浮点数的运算是不精确的，大部分情况下会出现不可预知的结果。</p>
<p>另外，在整数与浮点数的混合计算时，Python会把整数转换成浮点数进行运算。</p>
<p>可以用 sys.float_info 来查看浮点数的信息，比如最大值、最小值等。</p>

<h2>复数（complex）</h2>
<p>复数由实数部分和虚数部分构成，Python 使用 j 来表示复数的虚部（imaginary）。可以用 a + bj 或者 complex(a,b) 表示，复数的实部a和虚部b都是浮点型。</p>
<pre>
a = 1 + 2j
a.real == 1.0  #实部
a.imag == 2.0  #虚部
a.conjugate() == 1 - 2j  #共轭
</pre>

<h2>其他表示法</h2>
<h3>1. 科学计数法：表示的数都是浮点型</h3>
<pre>
a = 1e-4
</pre>
<h3>2. 16进制：前面加0x修饰，后面使用数字0-9A-F，整数</h3>
<pre>
a = 0xFF  #255
</pre>
<h3>3. 8进制：前面加0或者0o修饰，后面使用数字0-7，整数</h3>
<pre>
a = 0o10  #8
</pre>
<h3>4. 2进制：前面加0b修饰，后面使用数字0或1，整数</h3>
<pre>
a = 0b10  #2
</pre>

{% endblock %}