
{% extends '../../../tpl/layout_python.html' %}

{% set title_suffix = '运算符' %}

{% block content %}

<h1>运算符</h1>

<h2>加法运算符</h2>
<p>加法运算符可完成两种运算：数值间的加法、字符串间的连接。注：加号不能用于操作不同类型的两个值，如 数值 + 字符串。</p>

<h2>算术运算符</h2>
<p>算术运算符：加（+）、减（-）、乘（*）、除（/）、整除（//）、取余（%）、幂（**）、正数值运算符（+a）、负数值运算符（-a）。</p>

<h2>位运算符</h2>
<p>位运算符有如下这些：与（&）、或（|）、否（~）、异或（^）、左移（<<）、右移（>>）。</p>

<h2>赋值运算符</h2>
<p>赋值运算符有如下这些：= 、+= 、-+ 、*= 、**= 、/= 、//= 、%= 、>>= 、<<= 、&= 、|= 、^= 。</p>

<h2>比较运算符</h2>
<p>比较运算符有如下这些：== 、!= 、> 、>= 、< 、<= 。== 只判断值是否相等，而不判断对象地址。Python 支持链式比较：</p>
<pre>
1 < 2 < 3
</pre>

<h2>逻辑运算符</h2>
<p>逻辑运算符有如下这些：且（and）、或（or）、非（not）。</p>
<p>且（and）、或（or）返回的都是运算子的值，非（not）返回的是布尔值：True、False 。</p>

<h2>其他运算符</h2>

<h3>成员运算符</h3>
<p>成员运算符有：in 、not in 。用于判断某个值是否在序列中，返回 True 或 False 。</p>

<h3>身份运算符</h3>
<p>身份运算符有：is 、is not 。用于比较两个对象的存储单元。可用 id() 函数获取对象的内存地址。</p>
<pre>
a = [1, 2, 3]
b = a[:]
b is a  #False
b == a  #True
</pre>

{% endblock %}