
{% extends '../../../tpl/layout_python.html' %}

{% set title_suffix = '元组' %}

{% block content %}

<h1>元组</h1>

<h2>简介</h2>
<p>元组(tuple) 与列表相似，也是个有序序列，用小括号表示。但是元组是不可变的，长度 和 元素都不可变，实际上是元素地址不能变。</p>
<p>注：单元素元组需要尾逗号。</p>
<pre>
tup = ()
tup = (1,)
tup = tuple(i for i in range(10))
</pre>

<h2>元组操作符</h2>
<table>
    <thead>
    <tr>
        <th style="width:100px;">操作符</th>
        <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>+</td>
        <td>元组连接。('a','b') + (1,2) 返回 ('a','b',1,2) </td>
    </tr>
    <tr>
        <td>*</td>
        <td>重复元组元素。(1,2)*2 返回 (1,2,1,2)</td>
    </tr>
    <tr>
        <td>[i]</td>
        <td>通过索引获取元组元素，只读。越界获取会报错。</td>
    </tr>
    <tr>
        <td>[a:b]</td>
        <td>截取元组中的一部分（切片），浅复制，只读。冒号前后指明索引值范围，取头不取尾，索引值可省略。若 a>=b 则返回空元组。[a:b:n] 第一个冒号前后指明索引值范围，第二个冒号后指明步长。若n为负，则从后向前取值，a应大于b。</td>
    </tr>
    <tr>
        <td>for in</td>
        <td>遍历元组。for e in (1,2): print(e)</td>
    </tr>
    <tr>
        <td>in、not in</td>
        <td>成员运算符，判断元组中是否包含给定的元素。'b' in ('a','b','c') 返回True</td>
    </tr>
    </tbody>
</table>



<h2>方法</h2>
<table>
    <thead>
        <tr>
            <th>方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>count()</td>
            <td>统计某个元素在元组中出现的次数。</td>
        </tr>

        <tr>
            <td>index()</td>
            <td>查找元素索引值，未找到则抛出异常。</td>
        </tr>
    </tbody>
</table>
{% endblock %}