
{% extends '../../tpl/layout_javascript.html' %}

{% set title_suffix = '全局变量、方法' %}

{% block content %}

<h1>全局变量、方法</h1>

<h2>全局变量</h2>
<table>
    <thead>
        <tr>
            <th>全局变量</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NaN</td>
            <td>代表非数字值</td>
        </tr>
        <tr>
            <td>Infinity</td>
            <td>代表正无穷大,（负无穷大为 -Infinity）</td>
        </tr>
    </tbody>
</table>

<h2>全局方法</h2>
<table>
    <thead>
        <tr>
            <th>全局方法</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="useful">setTimeout(fn,ms)</td>
            <td>在指定时间之后再执行，返回该定时器编号(整数)，可使用clearTimeout(timer)取消该定时器。H5规定最短间隔是4毫秒。间隔为0时表示，在当前脚本的同步任务和“任务队列”中已有的事件，全部处理完以后立即执行</td>
        </tr>
        <tr>
            <td class="useful">setInterval(fn,ms)</td>
            <td>每隔指定时间便执行一次，返回该定时器编号(整数)，可使用clearInterval(timer)取消该定时器。H5规定最短间隔是10毫秒</td>
        </tr>
        <tr>
            <td>isNaN()</td>
            <td>判断给定的参数是否为NaN，区别于Number.isNaN()，该方法会将参数强制转换为数值</td>
        </tr>
        <tr>
            <td>isFinite()</td>
            <td>检测传入的参数是否是一个有穷数，区别于Number.isFinite()，该方法会将参数强制转换为数值</td>
        </tr>
        <tr>
            <td>parseInt(str,radix)</td>
            <td>根据给定的进制数把一个字符串解析成整数，与Number.parseInt() 相同</td>
        </tr>
        <tr>
            <td>parseFloat</td>
            <td>把一个字符串解析成浮点数，与Number.parseFloat() 相同</td>
        </tr>

        <tr>
            <td>eval(str)</td>
            <td>计算 JavaScript 字符串，并把它作为脚本代码来执行</td>
        </tr>
        <tr class="separator"><td></td><td></td></tr>
        <tr>
            <td>escape(str)</td>
            <td>对字符串进行编码，除了ASCII的字母、数字和括号中的字符（ * @ - _ + . /），其他所有的字符都会被转义序列替换</td>
        </tr>
        <tr>
            <td>unescape(str)</td>
            <td>对由 escape() 编码的字符串进行解码</td>
        </tr>
        <tr>
            <td>encodeURI(str)</td>
            <td>把字符串编码为 URI，会将元字符和语义字符之外的字符，都进行转义。</td>
        </tr>
        <tr>
            <td>decodeURI(str)</td>
            <td>解码某个编码的 URI</td>
        </tr>
        <tr>
            <td>encodeURIComponent(str)</td>
            <td>把字符串编码为 URI组件，会将除了语义字符之外的所有字符都转义，元字符也会被转义。因此，它的参数通常是URL的路径或参数值，而不是整个URL。</td>
        </tr>
        <tr>
            <td>decodeURIComponent(str)</td>
            <td>解码某个编码的 URI组件</td>
        </tr>
    </tbody>
</table>

<h2>URL的编码/解码</h2>
<p>网页URL的合法字符分成两类：</p>
<ol>
    <li>URL元字符：分号（;），逗号（’,’），斜杠（/），问号（?），冒号（:），at（@），&，等号（=），加号（+），美元符号（$），井号（#）</li>
    <li>语义字符：a-z，A-Z，0-9，连词号（-），下划线（_），点（.），感叹号（!），波浪线（~），星号（*），单引号（'），圆括号（()）</li>
</ol>
<p>除了以上字符，其他字符出现在URL之中都必须转义，规则是根据操作系统的默认编码，将每个字节转为百分号（%）加上两个大写的十六进制字母。</p>
<p>JavaScript提供了四个URL的编码/解码方法：encodeURI、decodeURI、encodeURIComponent、decodeURIComponent。</p>

{% endblock %}