
{% extends '../../tpl/layout_javascript.html' %}

{% set title_suffix = '引言' %}

{% block content %}

<h1>引言</h1>
<p>1995年5月，Brendan Eich用了10天设计完成了 JavaScript 的第一版。<br />
    1996年11月，Netscape公司将 JavaScript 提交给国际标准化组织ECMA。</p>
<table>
    <caption>ECMAScript 各版本发布时间如下 <a target="_blank" href="http://www.ecma-international.org/publications/standards/Ecma-262-arch.htm">官网</a></caption>
    <thead>
    <tr>
        <th>版本</th>
        <th>发布时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ECMAScript 1</td>
        <td>1997-07</td>
    </tr>
    <tr>
        <td>ECMAScript 2</td>
        <td>1998-06</td>
    </tr>
    <tr>
        <td>ECMAScript 3</td>
        <td>1999-12</td>
    </tr>
    <tr>
        <td>ECMAScript 5</td>
        <td>2009-12</td>
    </tr>
    <tr>
        <td>ECMAscript 5.1</td>
        <td>2011-06</td>
    </tr>
    <tr>
        <td>ECMAScript 6 (2015)</td>
        <td>2015-06</td>
    </tr>
    <tr>
        <td>ECMAScript 7 (2016)</td>
        <td>2016-06</td>
    </tr>
    <tr>
        <td>ECMAScript 8 (2017)</td>
        <td>2017-06</td>
    </tr>
    </tbody>
</table>
<h3>JavaScript 的兼容性处理</h3>
<p>IE9 及以上对 es5 支持很好。因此 js 的兼容性处理方案如下：</p>
<ol>
    <li>只需支持IE9及以上：用Babel转译到 es5 即可。</li>
    <li>需支持IE8及以下：先用Babel转译到 es5，然后引用es5-shim.js填补一些数组等方法，再引入json3.js填补JSON.parse和JSON.stringify方法。</li>
</ol>
<p>需注意Object.defineProperty无法填补，因此Vue无法支持IE8。</p>

<h3> JavaScript 资源</h3>
<p>一、在线教程、文档</p>
<ol>
    <li><a target="_blank" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript">MDN</a></li>
    <li><a target="_blank" href="http://www.w3school.com.cn/js/index.asp">W3School 中文</a></li>
    <li><a target="_blank" href="http://javascript.ruanyifeng.com/">JavaScript 标准参考教程（alpha）——阮一峰</a></li>
    <li><a target="_blank" href="http://es6.ruanyifeng.com/">ECMAScript 6 入门——阮一峰</a></li>
    <li><a href="http://es6-features.org/#Constants" target="_blank">es6新特性</a></li>
    <li><a target="_blank" href="https://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000/">JavaScript全栈教程——廖雪峰</a></li>
    <li><a target="_blank" href="https://github.com/JoeHetfield/You-Dont-Know-JS">你不懂JS</a></li>
</ol>

<p>二、推荐书籍</p>
<ol>
    <li>JavaScript 语言精粹</li>
</ol>

<p>三、实用工具</p>
<ol>
    <li>
        <a target="_blank" href="http://caniuse.com/#tables">Can I use</a>
        <a target="_blank" href="http://kangax.github.io/compat-table/es6/">JavaScript 部分</a>
    </li>
    <li><a target="_blank" href="http://www.w3school.com.cn/tiy/t.asp?f=jseg_bodysection">W3School 在线测试</a></li>
    <li>
        <a target="_blank" href="http://babeljs.io/">BABEL 英文</a>
        <a target="_blank" href="http://babeljs.cn/repl/">BABEL 中文 在线实验</a>
    </li>
    <li><a target="_blank" href="https://github.com/es-shims/es5-shim">es5-shim</a></li>
    <li><a target="_blank" href="https://github.com/bestiejs/json3">json3</a></li>
    <li>
        <a target="_blank" href="https://lodash.com/">Lodash</a>
        <a target="_blank" href="http://lodashjs.com/docs/">Lodash 中文文档</a>
    </li>
    <li>
        <a target="_blank" href="http://momentjs.com/">Moment 英文</a>
        <a target="_blank" href="http://momentjs.cn/">Moment 中文</a>
    </li>
    <li><a href="https://regexper.com/" target="_blank">正则可视化</a></li>
</ol>
{% endblock %}