
{% extends '../../tpl/layout_javascript.html' %}

{% set title_suffix = 'JSON对象' %}

{% block content %}

<h1>JSON对象</h1>
<h2>方法</h2>

<table>
    <thead>
    <tr>
        <th>静态方法</th>
        <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="useful es5">JSON.stringify()</td>
        <td>用于将一个js值转为符合 JSON 格式的字符串，该字符串可以被JSON.parse方法还原</td>
    </tr>
    <tr>
        <td class="useful es5">JSON.parse()</td>
        <td>用于将JSON字符串转化成一个js值，如果传入的字符串不是有效的JSON格式，该方法将报错</td>
    </tr>
    </tbody>
</table>

<h2>JSON.stringify()</h2>
<p>用于将一个js值转为符合 JSON 格式的字符串。通常用来转化 {} 和 数组。有以下几点规则：</p>
<ol>
    <li>在 {} 中，如果成员的值是 undefined、函数或 XML 对象，这个成员会被过滤。</li>
    <li>在 [] 中，如果成员是 undefined、函数或 XML 对象，则替换成 null。</li>
    <li>正则对象会被转成空对象{}。</li>
    <li>此方法会忽略对象的继承属性和不可枚举属性。</li>
</ol>
<pre>
var obj = {
    a: undefined,
    b: function () {},
    arr: [undefined, function () {}],
    reg: /foo/
};
JSON.stringify(obj); // "{"arr":[null,null],"reg":{}}"
</pre>
<h3>1. 第二个参数</h3>
<p>第二个参数可以是一个函数，用来定义递归时的处理方法；当第一个参数是{}时，第二个参数也可以是一个数组，用来筛选需要转成字符串的属性。</p>
<pre>
function f(key, value) {
  if (typeof value === "string") {
    return undefined;
  }
  return value;
}
JSON.stringify({ a: "abc", b: 123 }, f); // "{"b":123}"
</pre>
<pre>
JSON.stringify({a: '0', b: '1'}, ['a']); // "{"a":"0"}"
</pre>
<h3>2. 第三个参数</h3>
<p>此方法还可以接受第三个参数，用于增加返回的JSON字符串的可读性。如果是数字，表示每个属性前面添加的空格（最多不超过10个）；如果是字符串（不超过10个字符），则该字符串会添加在每行前面。</p>
<pre>
JSON.stringify({ p1: 1, p2: 2 }, null, 6);
"{
      "p1": 1,
      "p2": 2
}"

JSON.stringify({ p1:1, p2:{a:1,b:2} }, null, '|-');
"{
|-"p1": 1,
|-"p2": {
|-|-"a": 1,
|-|-"b": 2
|-}
}"
</pre>
<h3>3. toJSON 方法</h3>
<p>如果对象有自定义的toJSON方法，那么转化时会使用这个方法的返回值作为参数，而忽略原对象的其他属性。</p>
<pre>
var user = {
    firstName: '三',
    lastName: '张',

    get fullName(){
        return this.lastName + this.firstName;
    },

    toJSON: function () {
        var data = {
            firstName: this.firstName,
            lastName: this.lastName
        };
        return data;
    }
};

JSON.stringify(user); // "{"firstName":"三","lastName":"张"}"
</pre>
<p>使用此方法转化 Date 对象 和 RegExp 对象。</p>
<pre>
var date = new Date('2017-09-04');
date.toJSON(); // "2017-09-04T00:00:00.000Z"

JSON.stringify(/foo/); // "{}"
RegExp.prototype.toJSON = RegExp.prototype.toString;
JSON.stringify(/foo/); // ""/foo/""
</pre>

<h2>JSON.parse()</h2>
<p>用于将JSON字符串转化成一个js值，如果传入的字符串不是有效的JSON格式，该方法将报错。</p>
<p>此方法还可以接受一个函数作为第二个参数，用来定义递归时的处理方法。</p>
<pre>
function f(key, value) {
    if (key === ''){
        return value;
    }
    if (key === 'a') {
        return value + 10;
    }
}
var o = JSON.parse('{"a":1,"b":2}', f); // {"a":11}
</pre>


<h2>JSON 格式</h2>
<p>JSON（JavaScript Object Notation）是一种用于数据交换的文本格式，2001年由 Douglas Crockford 提出，目的是取代繁琐笨重的 XML 格式。</p>
<p>JSON 对值的类型和格式有严格的规定：</p>
<ol>
    <li>JSON 只允许 键值对 形式的属性定义。属性名必须用双引号括起来（不能是单引号）。</li>
    <li>JSON中，属性的值仅允许 字符串，数字，数组，{}，true，false，null。 </li>
    <li>JSON中，不允许将值设置为函数。</li>
    <li>数组或对象最后一个成员的后面，不能加逗号。</li>
</ol>
<pre>
{"names": ["张三", "李四"] }
[ { "name": "张三"}, {"name": "李四"} ]
</pre>




{% endblock %}