
{% extends '../../tpl/layout_javascript.html' %}

{% set title_suffix = '运算符' %}

{% block content %}

<h1>运算符</h1>
<h2>加法运算符</h2>
<p>加法运算符可完成两种运算：算术的加法、字符串连接。遵循以下规则：</p>
<ol>
    <li>运算子有对象时，进行字符串连接。内部是先调用对象的valueOf()，再调用toString()；若为Date实例，则先调用toString()。</li>
    <li>运算子无对象但有字符串时，都转为字符串并进行连接。</li>
    <li>运算子无对象也无字符串时，都转为数值，进行加法运算。</li>
</ol>
<pre>
'1' + {foo: 'bar'} // "1[object Object]"
'1' + [1] // "11"
'1' + true // "1true"
'1' + 1 // "11"
true + true // 2
1 + true // 2
</pre>
<pre>
var date1 = new Date("2017-08-30 10:29");
var date2 = new Date("2017-08-30 10:30");
console.log(date1 + date2); // Wed Aug 30 2017 10:29:00 GMT+0800 (中国标准时间)Wed Aug 30 2017 10:30:00 GMT+0800 (中国标准时间)
console.log(date1 - date2); // -60000
console.log(date1 + 1); // Wed Aug 30 2017 10:29:00 GMT+0800 (中国标准时间)1
console.log(date1 - 1); // 1504060139999
</pre>

<h2>算术运算符</h2>
<p>9 个算术运算符：加（+）、减（-）、乘（*）、除（/）、取余（%）、自增（++）、自减（--）、正数值运算符（+a）、负数值运算符（-a）</p>
<h3>除（/）</h3>
<pre>
console.log(0/0); // NaN
console.log(1/0); // Infinity
console.log(-1/0); // -Infinity
</pre>
<h3>取余（%）</h3>
<p>运算结果的正负号由第一个运算子的正负号决定。</p>
<pre>
console.log(3%2); // 1
console.log(-1%2); // -1
console.log(1%-2); // 1
</pre>
<h3>自增（++）和 自减（--）</h3>
<p>符号在前，则先自增（减）再返回；符号在后，则先返回再自增（减）。</p>
<pre>
var a = 0, b = 0;
var c = a++, d = --b;
console.log(a,b,c,d); // 1 -1 0 -1
</pre>
<h3>数值运算符</h3>
<p>数值运算符的作用在于可以将任何值转为数值（与Number函数的作用相同）。</p>
<pre>
+true // 1
-[] // -0
-{} // NaN
</pre>

<h2>赋值运算符</h2>
<p>赋值运算符有如下这些：= 、+= 、-+ 、*= 、/= 、%= 、>>= 、<<= 、>>>= 、&= 、|= 、^= 。</p>
<pre>
x += y // 等同于 x = x + y
x >>= y // 等同于 x = x >> y
x &= y // 等同于 x = x & y
</pre>

<h2>比较运算符</h2>
<p>比较运算符有如下这些：== 、=== 、!= 、!== 、> 、>= 、< 、<= 。</p>
<p>> 、>= 、< 、<= 四个运算符比较规则是：如果有对象，则先调用对象的valueOf()再调用toString()；如果都是字符串，则比较 Unicode 码点；否则，都转成数值，再进行比较。</p>
<pre>
[2] > '11' // true
{x: 1} >= {x: 2} // true
new Date("2017-08-31") > new Date("2017-08-30") // true
</pre>
<pre>
'cat' < 'dog' // true
'cat' < 'catalog' // true
'大' > '小' // false
</pre>
<pre>
5 > '4' // true
true > false // true
</pre>

<p>任何值（包括NaN本身）与NaN比较，都返回false ，但 NaN 是唯一不与自身相等的。</p>
<pre>
1 <= NaN // false
NaN <= NaN // false
NaN != NaN // true
</pre>
<p>全等（===）：类型、对象的引用、值 都相等。</p>
<pre>
NaN === NaN  // false
+0 === -0 // true
{} === {} // false
[] === [] // false
(function (){} === function (){}) // false
undefined === undefined // true
null === null // true
</pre>
<p>相等（==）：类型相同时即全等；类型不同时，先转换为同类型（字符串或数值），再全等比较。转换级别依次是：对象 -> 字符串 -> 布尔值 -> 数值 。最好不用此符号。</p>
<pre>
'true' == true // false 等同于 NaN === 1
'' == 0 // true
</pre>
<pre>
[0] == 0 // true 等同于 Number([0]) === 0
[0] == '' // false 等同于 String([0]) === ''
</pre>
<p>undefined和null与其他类型的值比较时，结果都为false，它们互相比较时结果为true。</p>
<pre>
false == null // false
false == undefined // false
undefined == null // true
</pre>
<p>比较两个日期是否是同一刻，用它们之差是否等于 0 。</p>
<pre>
new Date() == new Date() // false
new Date() - new Date() === 0 // true
</pre>

<h2>布尔运算符</h2>
<p>布尔运算符有如下 4 个：且（&&）、或（||）、非（!）、三元判断（? :） 。</p>
<h3>且（&&）</h3>
<p>且运算符的运算规则是：如果第一个运算子的布尔值为true，则返回第二个运算子的值（注意是值，不是布尔值）；如果第一个运算子的布尔值为false，则直接返回第一个运算子的值，且不再对第二个运算子求值。</p>
<pre>
't' && '' // ""
't' && (1 + 2) // 3
'' && 'f' // ""
flag && doSomething() // if 语句的简写
</pre>
<h3>或（||）</h3>
<p>或运算符的运算规则是：如果第一个运算子的布尔值为true，则返回第一个运算子的值，且不再对第二个运算子求值；如果第一个运算子的布尔值为false，则返回第二个运算子的值。</p>
<pre>
't' || '' // "t"
'' || 'f' // "f"
function saveText(text) {
  text = text || ''; //此方法设置默认值不准确
  // ...
}
</pre>
<h3>非（!）</h3>
<pre>
!!x  // 等同于 Boolean(x)
</pre>

<h2>位运算符</h2>
<p>位运算符用于直接对二进制位进行计算，有如下 7 个：与（&）、或（|）、否（~）、异或（^）、左移（<<）、右移（>>）、带符号右移（>>>）。</p>
<p>在JavaScript内部，数值都是以64位浮点数的形式储存，但是做位运算的时候，是以带符号的32位整数进行运算的，并且返回值也是一个带符号的32位整数。</p>
<h3>否（~）</h3>
<p>使用否运算取整，是所有取整方法中最快的一种。一个数的取反值等于 -1 减去该数。</p>
<pre>
~ -3 // 2
~~2.9 // 2
</pre>
<h3>异或（^）</h3>
<p>二进制位相同时返回0，不同时返回1。使用“异或运算”可以在不引入临时变量的前提下，互换两个变量的值。</p>
<pre>
var a = 10;
var b = 99;
a ^= b, b ^= a, a ^= b;
// a === 99 && b === 10
</pre>
<h3>左移（<<）、右移（>>）、带符号右移（>>>）</h3>
<p>左移（<<）：将一个数的二进制值向左移动指定的位数，尾部补0，即乘以2的指定次方（最高位即符号位不参与移动）。</p>
<p>右移（>>）：将一个数的二进制值向右移动指定的位数，头部补0，即除以2的指定次方（最高位即符号位不参与移动）。</p>
<p>带符号右移（>>>）：将一个数的二进制形式向右移动，包括符号位也参与移动，头部补0。</p>
<pre>
4 << 1 // 8
-4 << 1 // -8
4 >> 1 // 2
-4 >> 1 // -2
4 >>> 1 // 2
-4 >>> 1 // 2147483646
</pre>

<h2>其他运算符</h2>
<h3>void运算符</h3>
<p>void运算符的作用是执行一个表达式，然后不返回任何值，或者说返回undefined。常用于 a 标签，防止页面跳转。</p>
<pre>
&lt;a href="http://example.com" onclick="f();return false;">文字&lt;/a>
&lt;a href="javascript: void(f())">文字&lt;/a>
</pre>
{% endblock %}