
{% extends '../../tpl/layout_javascript.html' %}

{% set title_suffix = '各版本常见方法' %}

{% block content %}

<h1>各版本常见方法</h1>

<h2>ECMAScript 5</h2>
<p class="margin-vertical-5">一、对象/数组 字面量扩展</p>
<p>
    <span class="my-title" title="return ({ get x(){ return 1 } }).x === 1;">Getter</span>
    <span class="my-title" title="var value = 0;({ set x(v){ value = v; } }).x = 1;return value === 1;">Setter</span>
    <span class="my-title" title="return { a: true, }.a === true;">对象的尾部逗号</span>
    <span class="my-title" title="return [1,].length === 1;">数组的尾部逗号</span>
    <span class="my-title" title="return ({ if: 1 }).if === 1;">保留词作为属性名</span>
</p>
<p class="margin-vertical-5">二、对象的静态方法</p>
<p>
    <span class="my-title" title="">Object.keys</span>
    <span class="my-title" title="">Object.create</span>
    <span class="my-title" title="">Object.defineProperty</span>
    <span class="my-title" title="">Object.defineProperties</span>

    <span class="my-title" title="">Object.seal</span>
    <span class="my-title" title="">Object.isSealed</span>
    <span class="my-title" title="">Object.freeze</span>
    <span class="my-title" title="">Object.isFrozen</span>
    <span class="my-title" title="">Object.preventExtensions</span>
    <span class="my-title" title="">Object.isExtensible</span>
    <span class="my-title" title="">Object.getPrototypeOf</span>
    <span class="my-title" title="">Object.getOwnPropertyDescriptor</span>
    <span class="my-title" title="">Object.getOwnPropertyNames</span>
</p>
<p class="margin-vertical-5">三、数组的方法</p>
<p>
    <span class="my-title" title="">Array.isArray</span>
    <span class="my-title" title="">arr.indexOf</span>
    <span class="my-title" title="">arr.lastIndexOf </span>
    <span class="my-title" title="">arr.forEach</span>

    <span class="my-title" title="">arr.map</span>
    <span class="my-title" title="">arr.reduce</span>
    <span class="my-title" title="">arr.reduceRight</span>
    <span class="my-title" title="">arr.filter</span>

    <span class="my-title" title="">arr.every</span>
    <span class="my-title" title="">arr.some</span>
</p>
<p class="margin-vertical-5">四、字符串的方法</p>
<p>
    <span class="my-title" title='return "foobar"[3] === "b";'>类数组的索引访问</span>
    <span class="my-title" title="">str.trim</span>
</p>
<p class="margin-vertical-5">五、日期的方法</p>
<p>
    <span class="my-title" title="">Date.now</span>
    <span class="my-title" title="">date.toISOString</span>
    <span class="my-title" title="">date.toJSON</span>
</p>
<p class="margin-vertical-5">六、其他</p>
<p>
    <span class="my-title" title="">函数绑定fn.bind()</span>
    <span class="my-title" title="">JSON.parse</span>
    <span class="my-title" title="">JSON.stringify</span>
    <span class="my-title" title="return parseInt('010') === 10;">parseInt忽略开头的0</span>
    <span class="my-title" title=''>严格模式 'use strict'</span>

</p>
<h2>ECMAScript 6</h2>
<p class="margin-vertical-5">一、语法</p>
<p>
    <span class="my-title" title="return (function (a = 1, b = 2) { return a === 3 && b === 2; }(3));">函数的默认参数</span>
    <span class="my-title" title='return (function (foo, ...args) { return args instanceof Array && args + "" === "bar,baz";}("foo", "bar", "baz"));'>函数的剩余参数</span>
    <span class="my-title" title='return Math.max(...[1, 2, 3]) === 3; ~~~~~  return [...[1, 2, 3]][2] === 3; ~~~~~  return ["a", ..."bcd", "e"][3] === "d"; ~~~~~  var iterable = (function*(){ yield 1; yield 2; yield 3; }()); return Math.max(...iterable) === 3;'>展开操作符 ...</span>
    <span class="my-title" title='var a = 7, b = 8, c = {a,b};return c.a === 7 && c.b === 8; ~~~~~ return ({ y() { return 2; } }).y() === 2;'>对象属性/方法的缩写</span>
    <span class="my-title" title="var x = 'y';return ({ [x]: 1 }).y === 1; ~~~~~  var x = 'y';return ({ [x](){ return 1 } }).y() === 1;">对象可计算的属性/方法</span>
    <span class="my-title" title='var arr = [5];for (var item of arr)return item === 5;'>for...of 循环</span>
    <span class="my-title" title='var a = "ba", b = "QUX";return `foo bar${a + "z"} ${b.toLowerCase()}` === "foo bar\nbaz qux";'>模板字符串 `${a}`</span>


    <span class="my-title" title='var [a, , [b], c] = [5, null, [6]];return a === 5 && b === 6 && c === undefined; ~~~~~  var [a, b, c] = "ab";return a === "a" && b === "b" && c === undefined;  ~~~~~  var {c, x:d, e} = {c:7, x:8};return c === 7 && d === 8 && e === undefined;'>数组/对象解构</span>
    <span class="my-title" title='var [e, {x:f, g}] = [9, {x:10}];var {h, x:[i]} = {h:11, x:[12]};return e === 9 && f === 10 && g === undefined && h === 11 && i === 12;'>嵌套解构</span>
    <span class="my-title" title='for(var [i, j, k] in { qux: 1 }) { return i === "q" && j === "u" && k === "x"; }  ~~~~~  for(var [i, j, k] of [[1,2,3]]) { return i === 1 && j === 2 && k === 3; }'>for of/in 解构</span>
    <span class="my-title" title='var {a = 1, b = 0, z:c = 3} = {b:2, z:undefined};var [d = 0, e = 5, f = 6] = [4,,undefined]; return a === 1 && b === 2 && c === 3 && d === 4 && e === 5 && f === 6;  ~~~~~  var [a, ...b] = [3, 4, 5]; var [c, ...d] = [6]; return a === 3 && b instanceof Array && (b + "") === "4,5" && c === 6 && d instanceof Array && d.length === 0;'>默认值及剩余 解构</span>


    <span class="my-title" title=''>let 和 const</span>
    <span class="my-title" title='var b = x => x + "foo"; return (b("fee fie foe ") === "fee fie foe foo");'>箭头函数</span>
    <span class="my-title" title='return typeof class C {} === "function"'>class、constructor、extends、super、static</span>
    <span class="my-title" title='function * generator(){ yield 5; yield 6;}; var iterator = generator(); var item = iterator.next(); var passed = item.value === 5 && item.done === false; item = iterator.next(); passed    &= item.value === 6 && item.done === false;item = iterator.next(); passed    &= item.value === undefined && item.done === true; return passed;'>generators</span>

</p>
<p class="margin-vertical-5">二、内置对象 属性/方法 的扩展</p>
<p>
    <span class="my-title" title='var obj = {a:false}; var o = Object.assign(obj, {a:true}, {b:true}); return "a" in o && "b" in o && obj.a === true;'>Object.assign</span>
    <span class="my-title" title="return typeof Object.is === 'function' && Object.is(NaN, NaN) && !Object.is(-0, 0);">Object.is</span>
    <span class="my-title" title='var o = {}; var sym = Symbol(), sym2 = Symbol(), sym3 = Symbol(); o[sym]  = true; o[sym2] = true; o[sym3] = true; var result = Object.getOwnPropertySymbols(o); return result[0] === sym && result[1] === sym2 && result[2] === sym3;'>Object.getOwnPropertySymbols</span>
    <span class="my-title" title='return Object.setPrototypeOf({}, Array.prototype) instanceof Array;'>Object.setPrototypeOf</span>
    <span class="my-title" title="function foo(){}; return foo.name === 'foo' && (function(){}).name === '';">函数的 name 属性</span>

</p>
<p>
    <span class="my-title" title="let name = 'Bob'; String.raw`Hi\n${name}!` === 'Hi\nBob!'; ~~~~~ String.raw({  raw: ['foo', 'bar', 'baz'] }, 2 + 3, 'Java' + 'Script') === 'foo5barJavaScriptbaz';">String.raw </span>
    <span class="my-title" title='String.fromCodePoint(65, 90) === "AZ"'>String.fromCodePoint </span>
    <span class="my-title" title="'ABC'.codePointAt(1) === '66'; ~~~~~ 'XYZ'.codePointAt(42) === undefined">str.codePointAt </span>
    <span class="my-title" title="var str = '\u1E9B\u0323'; str.normalize('NFC') === '\u1E9B\u0323'">str.normalize </span>
    <span class="my-title" title="'abc'.repeat(0) === ''; ~~~~~ 'abc'.repeat(2) === 'abcabc'">str.repeat </span>
    <span class="my-title" title="'abcabc'.startsWith('ab') === true;~~~~~'abcabc'.startsWith('ab',3) === true;">str.startsWith </span>
    <span class="my-title" title="'abcabc'.endsWith('bc') === true;  ~~~~~  'abcabc'.endsWith('bc',2) === true;">str.endsWith </span>
    <span class="my-title" title="'Blue Whale'.includes('Blue') === true;">str.includes </span>
    <span class="my-title" title='return /./igm.flags === "gim" && /./.flags === "";'>reg.flags </span>

</p>
<p>
    <span class="my-title" title="Array.from('foo') => ['f', 'o', 'o']; ~~~~~ Array.from([1, 2, 3], x => x + x) === [2, 4, 6]; ~~~~~  Array.from({length: 3}, (v, i) => i) => [0, 1, 2]; ~~~~~  function f() { return Array.from(arguments); };f(1, 2, 3) => [1, 2, 3];">Array.from</span>
    <span class="my-title" title="Array.of(2) => [2]; ~~~~~ Array(2) => [,];">Array.of</span>
    <span class="my-title" title="[1, 2, 3, 4, 5].copyWithin(0, 3, 4) => [4, 2, 3, 4, 5];改变原数组">arr.copyWithin</span>
    <span class="my-title" title="function isBigEnough(element) { return element >= 15;} [12, 5, 8, 130, 44].find(isBigEnough) === 130;">arr.find</span>
    <span class="my-title" title="function isBigEnough(element) { return element >= 15; } [12, 5, 8, 130, 44].findIndex(isBigEnough) === 3;">arr.findIndex</span>
    <span class="my-title" title="[1, 2, 3].fill(4, 1, 2) => [1,4,3]">arr.fill</span>
    <span class="my-title" title="var arr = ['a', 'b', 'c']; var iterator = arr.keys(); [...iterator] => [0,1,2]">arr.keys</span>
    <span class="my-title" title="var a = ['w', 'y']; var iterator = a.values(); [...iterator] => ['w', 'y']">arr.values</span>
    <span class="my-title" title="var a = ['a', 'b']; var iterator = a.entries();for (let e of iterator) { console.log(e); } //[0, 'a'] //[1, 'b']">arr.entries</span>
</p>
<p>
    <span class="my-title">Number.isFinite</span>
    <span class="my-title">Number.isInteger</span>
    <span class="my-title">Number.isSafeInteger</span>
    <span class="my-title">Number.isNaN</span>
    <span class="my-title">Number.parseFloat</span>
    <span class="my-title">Number.parseInt</span>
    <span class="my-title">Number.EPSILON</span>
    <span class="my-title">Number.MIN_SAFE_INTEGER</span>
    <span class="my-title">Number.MAX_SAFE_INTEGER</span>
</p>
<p>
    <span class="my-title">Math.clz32</span>
    <span class="my-title">Math.imul</span>
    <span class="my-title">Math.sign</span>
    <span class="my-title">Math.log10</span>
    <span class="my-title">Math.log2</span>
    <span class="my-title">Math.log1p</span>
    <span class="my-title">Math.expm1</span>
    <span class="my-title">Math.cosh</span>
    <span class="my-title">Math.sinh</span>
    <span class="my-title">Math.tanh </span>
    <span class="my-title">Math.acosh </span>
    <span class="my-title">Math.asinh </span>
    <span class="my-title">Math.atanh  </span>
    <span class="my-title" title="去尾">Math.trunc</span>
    <span class="my-title">Math.fround </span>
    <span class="my-title">Math.cbrt </span>
    <span class="my-title">Math.hypot </span>

</p>


<p class="margin-vertical-5">三、新增的内置对象</p>
<P>
    <span class="my-title" title='ArrayBuffer、Int8Array、Uint8Array、Uint8ClampedArray、Int16Array、Uint16Array、Int32Array、Uint32Array、Float32Array、Float64Array'>各种 Array</span>
    <span class="my-title" title='Int8、Uint8、Int16、Uint16、Int32、Uint32、Float32、Float64'>DataView</span>
</P>
<p>
    <span class="my-title" title="var key1 = {}; var key2 = {}; var map = new Map([[key1, 123], [key2, 456]]); return map.has(key1) && map.get(key1) === 123 && map.has(key2) && map.get(key2) === 456;">Map</span>
    <span class="my-title" title="var key = {}; var map = new Map(); map.set(key, 123); return map.size === 1;">map.size</span>

    <span class="my-title" title="var key = {}; var map = new Map(); map.set(key, 123); return map.size === 1;">map.set</span>
    <span class="my-title" title="var myMap = new Map(); myMap.set('bar', 'foo'); myMap.get('bar');">map.get</span>
    <span class="my-title" title="var myMap = new Map(); myMap.set('bar', 'foo'); myMap.has('bar');">map.has</span>
    <span class="my-title" title="var myMap = new Map(); myMap.set('bar', 'foo'); myMap.delete('bar');">map.delete</span>
    <span class="my-title" title="var myMap = new Map(); myMap.set('bar', 'foo'); myMap.clear();">map.clear</span>

    <span class="my-title" title="function logMapElements(value, key, map) { console.log(`m[${key}] = ${value}`); } new Map([['foo', 3], ['bar', {}], ['baz', undefined]]).forEach(logMapElements);">map.forEach</span>
    <span class="my-title" title="var map = new Map([['foo', 3], ['bar', {}], ['baz', undefined]]); var iterator = map.keys(); console.log(iterator.next().value;);">map.keys</span>
    <span class="my-title" title="var map = new Map([['foo', 3], ['bar', {}], ['baz', undefined]]); var iterator = map.values(); console.log(iterator.next().value;);">map.values</span>
    <span class="my-title" title="var map = new Map([['foo', 3], ['bar', {}], ['baz', undefined]]); var iterator = map.entries(); console.log(iterator.next().value => ['foo', 3];);">map.entries</span>
</p>
<p>
    <span class="my-title" title="var key = {}; var weakmap = new WeakMap(); weakmap.set(key, 123); return weakmap.has(key) && weakmap.get(key) === 123;只能以对象为key">WeakMap</span>
    <span class="my-title">wmap.set</span>
    <span class="my-title">wmap.get</span>
    <span class="my-title">wmap.has</span>
    <span class="my-title">wmap.delete</span>
</p>
<p>
    <span class="my-title" title="var obj1 = {}; var obj2 = {}; var set = new Set([obj1, obj2]); return set.has(obj1) && set.has(obj2);">Set</span>

    <span class="my-title" title="var set = new Set([1,2]);set.size === 2;">set.size</span>
    <span class="my-title" title="var set = new Set(); set.add(1).add(2);">set.add</span>
    <span class="my-title" title="var set = new Set([1]); set.has(1);">set.has</span>
    <span class="my-title" title="var set = new Set(['foo']); set.delete('foo');">set.delete</span>
    <span class="my-title">set.clear</span>
    <span class="my-title" title="function logSetElements(value1, value2, set) { console.log(value1 === value2); } new Set(['foo', 'bar', undefined]).forEach(logSetElements);">set.forEach</span>
    <span class="my-title" title="var set = new Set(['foo', 'bar']); var iterator = set.values(); console.log(iterator.next().value;);">set.values</span>
    <span class="my-title" title="var set = new Set(['foo', 'bar']); var iterator = set.entries(); iterator.next().value => ['foo','foo'];">set.entries</span>
</p>
<p>
    <span class="my-title" title="var obj1 = {}, obj2 = {}; var weakset = new WeakSet([obj1, obj2]); return weakset.has(obj1) && weakset.has(obj2);">WeakSet</span>
    <span class="my-title" title="var obj1 = {}, obj2 = {}; var weakset = new WeakSet(); weakset.add(obj1)">wset.add</span>
    <span class="my-title">wset.has</span>
    <span class="my-title">wset.delete</span>
</p>
<p>
    <span class="my-title">Proxy</span>
    <span class="my-title">Reflect</span>
    <span class="my-title">Promise</span>
    <span class="my-title">Symbol</span>
</p>

<h2>ECMAScript 7</h2>
<p>
    <span class="my-title" title="return 2 ** 3 === 8 && -(5 ** 2) === -25 && (-5) ** 2 === 25; ~~~~~ var a = 2; a **= 3; return a === 8;">幂运算符 ** </span>
    <span class="my-title" title="['a', 'b', 'c'].includes('c', 1);">arr.includes</span>
</p>
<h2>ECMAScript 8</h2>
<p>
    <span class="my-title">async await</span>
    <span class="my-title" title='var obj = Object.create({ a: "qux", d: "qux" }); obj.a = "foo"; obj.b = "bar"; obj.c = "baz"; var v = Object.values(obj); return Array.isArray(v) && String(v) === "foo,bar,baz";'>Object.values</span>
    <span class="my-title" title='var obj = Object.create({ a: "qux", d: "qux" });
    obj.a = "foo"; obj.b = "bar"; obj.c = "baz";
    var e = Object.entries(obj);
    return Array.isArray(e)
    && e.length === 3
    && String(e[0]) === "a,foo"
    && String(e[1]) === "b,bar"
    && String(e[2]) === "c,baz";'>Object.entries</span>
    <span class="my-title" title="浅复制">Object.getOwnPropertyDescriptors</span>
    <span class="my-title" title="'hello'.padStart(10, '1234') === '12341hello'">str.padStart</span>
    <span class="my-title" title="'hello'.padEnd(10, '1234') === 'hello12341'">str.padEnd</span>
    <span class="my-title">函数定义和调用的尾逗号</span>
</p>
{% endblock %}

{% block script %}
{{super()}}
<script>
    window.onload = function () {
        _initMyTitle();
    };
</script>
{% endblock %}