
{% extends '../../tpl/layout_os.html' %}

{% set title_suffix = '引言' %}

{% block content %}

<h1>引言</h1>

<p>操作系统介于硬件与应用程序之间。现今常见的操作系统有：Unix、Mac OS、Windows、Linux、iOS、Android。</p>
<p>操作系统的发展历史大致如下：</p>
<ol>
    <li>1965年，AT&T公司 下贝尔实验室(Bell Labs)加入了一项由通用电气公司(General Electric)和麻省理工学院(MIT)合作的计划：建立一套多使用者、多任务、多层次的MULTICS操作系统。</li>
    <li>1969年，AT&T 高层放弃了MULTICS项目。该公司的员工 肯·汤普逊（Ken Thompson）花了一个月的时间 在PDP-7上写了一个作业系统 Unics，后被改名为Unix。</li>
    <li>1971年，肯·汤普逊 和 丹尼斯·里奇 共同发明了C语言。第一版的Unix是使用汇编语言和B语言来开发的，他们改进B语言而发明了C语言。</li>
    <li>1973年，肯·汤普逊 和 丹尼斯·里奇 用C语言重写了Unix，Unix的正式版本发行。</li>
    <li>1979年，AT&T 收回了Unix的版权，最重要的是不对学生提供源代码。学校受到很大的冲击，教学受到影响。</li>
    <li>1980年，微软与IBM合作PC系统，微软为其提供DOS系统。</li>
    <li>1981年，乔布斯邀请盖茨看麦金塔电脑（Macintosh，简称Mac）样机，想让微软帮助Macintosh开发应用软件。盖茨受到图形用户界面的启发。</li>
    <li>1984年，苹果公司发布了Macintosh，类Unix系统，是继其公司的LISA后第二部使用图形用户界面(GUI)的电脑，GUI是受到施乐公司的启发。</li>
    <li>1985年 微软的windows1.0发布。</li>
    <li>1984年，Stallman 开始 GNU（GNU's Not Unix）项目，创办 FSF（Free Software Foundation）基金会，主要产品有 GCC、Emacs、Bash Shell、GLIBC，倡导“自由软件”。</li>
    <li>1984-1986年，Andrew Tanenbaum（谭邦宁）教授写了一个叫Minix的Unix Like 核心程序，与 unix兼容并且支持X86 个人电脑。主要用于教育事业。</li>
    <li>1991年，Linus Torvalds（林纳斯·本纳第克特·托瓦兹）参考Minix编写了Linux核心。</li>

    <li>2003 安迪·鲁宾创办了Android公司 。Android是基于Linux内核的开放移动操作系统。</li>
    <li>2005年，Android公司被Google收购。</li>
    <li>2007年1月，苹果公司发布了iOS。</li>
    <li>2007年11月，谷歌公司正式公布Android操作系统。</li>
</ol>







{% endblock %}