
{% extends '../../tpl/layout_node.html' %}

{% set title_suffix = '引言' %}

{% block content %}

<h1>引言</h1>
<h2>简介</h2>
<p>2009年5月 Ryan Dahl 在 GitHub 上发布了Node.js的初版。</p>
<p>作者创造Node.js的目的是为了实现高性能Web服务器，首先看重的是事件机制和异步IO模型的优越性。</p>
<p>Node.js 是一个基于 Chrome V8 引擎的 JavaScript 运行环境。</p>


<h2>Node.js 资源</h2>
<p>一、在线教程、文档</p>
<ol>
    <li><a href="https://nodejs.org/en/" target="_blank">英文官网</a><a href="http://nodejs.cn/" target="_blank">中文官网</a></li>
    <li><a href="http://javascript.ruanyifeng.com/nodejs/basic.html" target="_blank">JavaScript 标准参考教程（alpha）——阮一峰</a></li>
    <li><a href="http://nqdeng.github.io/7-days-nodejs/" target="_blank">七天学会NodeJS</a></li>
    <li><a href="https://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000/001434501245426ad4b91f2b880464ba876a8e3043fc8ef000" target="_blank">JavaScript全栈教程——廖雪峰</a></li>
</ol>





{% endblock %}