
{% extends '../../../tpl/layout_node.html' %}

{% set title_suffix = '常用模块概览' %}

{% block content %}

<h1>常用模块概览</h1>
<h2>简介</h2>

<table>
    <thead>
        <tr>
            <th>模块名</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>

        <tr>
            <td>mocha</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>chai</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
        <tr>
            <td>nodemon</td>
            <td>oooo</td>
        </tr>
    </tbody>

</table>


{% endblock %}