

{% set headerItems = [
                {categoryTitle:'计算机基础',items:[
                    {title:'操作系统',controller:'os', navShow:true}
                ]},
                {categoryTitle:'HTML / CSS',items:[
                    {title:'HTML',controller:'html', navShow:false},
                    {title:'CSS',controller:'css', navShow:false}
                ]},
                {categoryTitle:'JavaScript',items:[
                    {title:'JavaScript',controller:'javascript', navShow:true},
                    {title:'Node',controller:'node', navShow:true},
                    {title:'前端工程化',controller:'fe', navShow:true},

                    {title:'jQuery',controller:'jquery', navShow:false},
                    {title:'Bootstrap',controller:'bootstrap', navShow:false},
                    {title:'Element',controller:'element', navShow:false},
                    {title:'ReactNative',controller:'reactNative', navShow:false},

                    {title:'Vue',controller:'vue', navShow:true},
                    {title:'React',controller:'react', navShow:true},

                    {title:'Express',controller:'express', navShow:true},
                    {title:'Koa',controller:'koa', navShow:true},
                    {title:'Egg',controller:'egg', navShow:true},
                    {title:'Mock',controller:'mock', navShow:true}
                ]},
                {categoryTitle:'Python',items:[
                    {title:'Python',controller:'python', navShow:true},
                    {title:'Flask',controller:'flask', navShow:true},
                    {title:'Scrapy',controller:'scrapy', navShow:true}
                ]},
                {categoryTitle:'数据库',items:[
                    {title:'SQL',controller:'sql', navShow:true},
                    {title:'MySQL',controller:'mysql', navShow:true},
                    {title:'MongoDB',controller:'mongodb', navShow:true},
                    {title:'Redis',controller:'redis', navShow:true}
                ]}
        ]
%}

<ul class="navbar">
    {% for category in headerItems %}
        {% for item in category.items %}
            {% if item.navShow %}
                <li class={{'active' if (controller === item.controller) else ''}}>
                    <a href={{"/"+item.controller+"/index"}}>{{item.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}

</ul>

<div id="navLayer" class="pop-layer" style="display: none;">
    {% for category in headerItems %}
        <div class="section-wrap">
            <p class="section-title">{{category.categoryTitle}}</p>
            <ul class="clearfix">
                {% for item in category.items %}
                    <li>
                        <a href={{"/"+item.controller+"/index"}}>{{item.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>