
{% extends './layout_base.html' %}

{% set title = 'React-'+ title_suffix %}
{% set controller = 'react' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'快速使用',action:'quickStart'},
                        {title:'事件处理',action:'eventHandle'}
                    ]
                },
                {
                    title:'仿造 React',
                    action:'',
                    children:[
                        {title:'前端组件 —— 演化',action:'componentEvolutionJs'}
                    ]
                }
            ]
%}
