
{% extends './layout_base.html' %}

{% set title = 'OS-'+ title_suffix %}
{% set controller = 'os' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'总结',action:'summary1'}
                    ]
                },
                {
                    title:'Windows',
                    action:'',
                    children:[
                        {title:'常用快捷键',action:'winHotKey'},
                        {title:'PowerShell',action:'winCli'}
                    ]
                },
                {
                    title:'Linux',
                    action:'',
                    children:[
                        {title:'常用快捷键',action:'lixHotKey'},
                        {title:'Shell',action:'lixCli'},
                        {title:'目录及文件操作',action:'lixFs'},
                        {title:'Shell',action:'lixCli'},
                        {title:'Shell',action:'lixCli'}
                    ]
                }
            ]
%}
