
{% extends './layout_base.html' %}

{% set title = 'python-'+ title_suffix %}
{% set controller = 'python' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'模块和包',action:'module'}
                    ]
                },
                {
                    title:'语法',
                    action:'',
                    children:[
                        {title:'基本语法',action:'grammar'},
                        {title:'数据类型及类型转换',action:'dataType'},
                        {title:'运算符',action:'operator'},
                        {title:'内置函数',action:'builtinFn'},
                        {title:'数字',action:'number'},
                        {title:'字符串 - 说明',action:'string'},
                        {title:'字符串 - 常用方法',action:'stringFn'},
                        {title:'列表',action:'list'},
                        {title:'元组',action:'tuple'},
                        {title:'字典',action:'dict'},
                        {title:'集合',action:'set'},
                        {title:'函数',action:'function'},
                        {title:'函数 - 进阶',action:'functionHigh'},
                        {title:'迭代器和生成器',action:'itergener'},
                        {title:'错误和异常',action:'error'},
                        {title:'with和上下文管理器',action:'with'}
                    ]
                },
                {
                    title:'面向对象编程',
                    action:'',
                    children:[
                        {title:'对象体系',action:'class'},
                        {title:'定义 class',action:'class'},
                        {title:'私有属性和方法',action:'private'},
                        {title:'继承',action:'extends'}
                    ]
                },
                {
                    title:'内置模块',
                    action:'',
                    children:[
                        {title:'基本',action:'grammar'}
                    ]
                },
                {
                    title:'第三方模块',
                    action:'',
                    children:[
                        {title:'基本',action:'grammar'}
                    ]
                }
            ]
%}
