
{% extends './layout_base.html' %}

{% set title = 'python-'+ title_suffix %}
{% set controller = 'python' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'总结',action:'summary1'}
                    ]
                },
                {
                    title:'语法',
                    action:'',
                    children:[
                        {title:'基本语法',action:'grammar'},
                        {title:'数据类型及类型转换',action:'dataType'},
                        {title:'运算符',action:'operator'},
                        {title:'内置函数',action:'builtinFn'},
                        {title:'数字',action:'number'},
                        {title:'字符串 - 说明',action:'string'},
                        {title:'字符串 - 常用方法',action:'stringFn'},
                        {title:'列表',action:'list'},
                        {title:'元组',action:'tuple'},
                        {title:'字典',action:'dict'},
                        {title:'集合',action:'set'}
                    ]
                }
            ]
%}
