
{% extends './layout_base.html' %}

{% set title = 'Node-'+ title_suffix %}
{% set controller = 'node' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'快速安装使用',action:'quickStart'},
                        {title:'package.json 文件',action:'packageJson'},
                        {title:'模块',action:'module'},
                        {title:'编辑并发布npm包',action:'npmPublish'}
                    ]
                },
                {
                    title:'内置模块',
                    action:'',
                    children:[
                        {title:'global - 全局变量',action:'global'},
                        {title:'process - 进程',action:'process'},
                        {title:'child_process - 子进程',action:'child_process'},
                        {title:'Buffer - 缓冲器',action:'Buffer'},
                        {title:'url - 网址',action:'url'},
                        {title:'querystring - 查询字符串',action:'querystring'},
                        {title:'dns - 域名服务器',action:'dns'},
                        {title:'http - HTTP',action:'http'},
                        {title:'https - HTTPS',action:'https'},
                        {title:'path - 路径',action:'path'},
                        {title:'fs - 文件系统',action:'fs'}
                    ]
                },
                {
                    title:'第三方模块',
                    action:'',
                    children:[
                        {title:'常用模块概览',action:'useful'},
                        {title:'commander - 命令行开发工具',action:'commander'}
                    ]
                },
                {
                    title:'文件操作',
                    action:'',
                    children:[
                        {title:'大、小文件拷贝',action:'copyFile'},
                        {title:'遍历目录',action:'iterateDir'}
                    ]
                },
                {
                    title:'网络操作',
                    action:'',
                    children:[
                        {title:'创建HTTP服务器',action:'createServer'},
                        {title:'发起HTTP请求',action:'sendRequest'}
                    ]
                },
                {
                    title:'进程管理',
                    action:'',
                    children:[
                        {title:'进程间通信',action:'massage'},
                        {title:'守护进程',action:'guardProcess'}
                    ]
                }
            ]
%}
