
{% extends './layout_base.html' %}

{% set title = 'JavaScript-'+ title_suffix %}
{% set controller = 'javascript' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'各版本常见方法',action:'versions'}
                    ]
                },
                {
                    title:'语法',
                    action:'',
                    children:[
                        {title:'基本语法',action:'grammar'},
                        {title:'数据类型及类型转换',action:'dataTypes'},
                        {title:'运算符',action:'operator'},
                        {title:'对象-说明',action:'objDescription'},
                        {title:'数组-说明',action:'arrDescription'},
                        {title:'函数-说明',action:'fnDescription'}
                    ]
                },
                {
                    title:'标准库',
                    action:'',
                    children:[
                        {title:'Object对象',action:'Object'},
                        {title:'Array对象',action:'Array'},
                        {title:'String对象',action:'String'},
                        {title:'Number对象',action:'Number'},
                        {title:'Boolean对象',action:'Boolean'},
                        {title:'RegExp对象',action:'RegExp'},
                        {title:'Math对象',action:'Math'},
                        {title:'Date对象',action:'Date'},
                        {title:'JSON对象',action:'JSON'},
                        {title:'Error对象',action:'Error'},
                        {title:'console对象',action:'console'},
                        {title:'全局变量、方法',action:'Globals'},
                        {title:'Promise对象',action:'Promise'}
                    ]
                },
                {
                    title:'面向对象编程',
                    action:'',
                    children:[
                        {title:'new、this关键词',action:'NewThis'},
                        {title:'原型与继承',action:'Prototype'},
                        {title:'模块化',action:'Module'}
                    ]
                },
                {
                    title:'DOM',
                    action:'',
                    children:[
                        {title:'document对象',action:'DomDocument'}
                    ]
                },
                {
                    title:'浏览器环境',
                    action:'',
                    children:[
                        {title:'window对象',action:'BomWindow'}
                    ]
                }

            ]
%}
