
{% extends './layout_base.html' %}

{% set title = 'Html' %}
{% set controller = 'html' %}
{% set sideBarItems = [
                {
                    title:'MobX 介绍',
                    action:'info',
                    children:[
                        {title:'MobX 要点',action:'important'},
                        {title:'概念与原则',action:'important'}
                    ]
                },
                {
                    title:'Observable类型',
                    action:'',
                    children:[
                        {title:'objects',action:'objects'},
                        {title:'arrays',action:'arrays'}
                    ]
                }
            ]
%}
