
{% extends './layout_base.html' %}

{% set title = 'python-'+ title_suffix %}
{% set controller = 'python' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'总结',action:'summary1'}
                    ]
                },
                {
                    title:'语法',
                    action:'',
                    children:[
                        {title:'基本语法',action:'grammar'},
                        {title:'数据类型及类型转换',action:'dataType'},
                        {title:'运算符',action:'operator'},
                        {title:'数字',action:'number'},
                        {title:'字符串',action:'string'}
                    ]
                }
            ]
%}
