
{% extends './layout_base.html' %}

{% set title = 'SQL-'+ title_suffix %}
{% set controller = 'sql' %}
{% set sideBarItems = [
                {
                    title:'常用总结',
                    action:'',
                    children:[
                        {title:'SQL命令速览手册',action:'guide'},
                        {title:'SQL函数速览手册',action:'sqlfn'},
                        {title:'MySQL数据类型速览',action:'mysqltype'},
                        {title:'SQL Server数据类型速览',action:'sqlservertype'}
                    ]
                },
                {
                    title:'基本命令',
                    action:'',
                    children:[
                        {title:'select',action:'select'},
                        {title:'join',action:'join'},
                        {title:'union',action:'union'},
                        {title:'where',action:'where'},
                        {title:'order by',action:'orderBy'},
                        {title:'insert into',action:'insertInto'},
                        {title:'update',action:'update'},
                        {title:'delete',action:'delete'},
                        {title:'约束',action:'constraints'}
                    ]
                }
            ]
%}
