
{% extends '../../../tpl/layout_os.html' %}

{% set title_suffix = 'Shell' %}

{% block content %}

<h1>Shell</h1>
<h2>简介</h2>
<p>在 UNIX/Linux 中比较流行的常见的 Shell 有 bash、zsh、ksh、csh 等等。</p>
<p>Shell 程序作为一个进程运行在操作系统之上，而我们在 Shell 中运行的大部分命令都将以 Shell 的子进程的方式运行。</p>
<p>注：使用man命令可在终端中查看使用手册。Manual pages 是 UNIX 或类 UNIX 操作系统中在线软件文档的一种普遍的形式， 内容包括计算机程序（包括库和系统调用）、正式的标准和惯例，甚至是抽象的概念。(man 命令)可查看该命令的使用说明，(命令 --help)更方便。</p>


<h2>Shell 命令的查找路径</h2>

<h3>环境变量 PATH</h3>
<p>在 Shell 中直接输入一个命令，都是通过搜索环境变量 PATH 来进行查找的，如果存在同名的命令，则执行先找到的那个。环境变量 PATH 类似于 /usr/sbin:/usr/bin:/sbin:/bin 。</p>
<pre>
echo $PATH
</pre>

<h3>创建可执行 Shell 脚本</h3>
<p>在一个文件夹（比如 /home/adminly/mybin）中新建一个Shell 脚本 a.sh。</p>
<pre>
#!/bin/bash

for ((i=0; i<10; i++));do
    echo "hello shell"
done

exit 0
</pre>
<p>为文件添加可执行权限，执行脚本：</p>
<pre>
chmod 755 a.sh
./a.sh
</pre>

<h3>添加到环境变量 PATH</h3>
<p>在每个用户的 home 目录中有一个 配置文件， Shell 每次启动时会默认执行该配置文件，以初始化环境，包括添加一些用户自定义环境变量等等。zsh 的配置文件是 .zshrc，相应 Bash 的配置文件为 .bashrc 。可以简单地使用下面命令直接添加内容到 .zshrc 中：</p>
<pre>
echo "PATH=$PATH:/home/adminly/mybin" >> .zshrc
</pre>

<h3>使配置文件(.zshrc)立即生效</h3>
<p>在终端中修改了配置文件后，需要退出终端重新打开甚至重启主机之后才能使其生效，很是麻烦，此时可以使用 source 命令来让其立即生效：</p>
<pre>
source .zshrc
</pre>
<pre>
. ./.zshrc
</pre>
<p>. 是source 命令的别名，后面的文件必须指定完整的绝对或相对路径名。</p>

<h2>Shell 变量</h2>

<p>通常我们会涉及到的变量有三种：</p>
<ol>
    <li>Shell 本身内建的变量</li>
    <li>当前 Shell 进程私有用户自定义变量</li>
    <li>从自定义变量导出的环境变量</li>
</ol>

<p>有三个与上述三种环境变量相关的命令：set，env，export。这三个命令很相似，都是用于打印环境变量信息。</p>

<table>
    <thead>
        <tr>
            <th>命令</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>set</td>
            <td>显示当前 Shell 的所有变量，包括其内建环境变量（与 Shell 外观等相关），用户自定义变量及导出的环境变量</td>
        </tr>
        <tr>
            <td>env</td>
            <td>显示与当前用户相关的环境变量，包括用户自定义变量及导出的环境变量。还可以让命令在指定环境中运行</td>
        </tr>
        <tr>
            <td>export</td>
            <td>显示从 Shell 中导出成环境变量的变量。也能通过它将自定义变量导出为环境变量</td>
        </tr>
    </tbody>
</table>

<p>按变量的生存周期来划分，Linux 变量可分为两类：</p>
<ol>
    <li>永久的：需要修改配置文件，变量永久生效</li>
    <li>临时的：使用 export 命令行声明即可，变量在关闭 shell 时失效</li>
</ol>
<p>有两个重要文件 /etc/bashrc（有的 Linux 没有这个文件）和 /etc/profile，它们分别存放的是shell内建变量和环境变量。可在 /etc/profile文件中添加环境变量使其永久生效。每个用户目录下有一个隐藏文件 .profile，它只对当前用户永久生效。</p>

<h3>新建变量</h3>
<p>自定义变量时，可以使用declare 显示的声明变量，或直接对变量赋值。引用时变量名前加上$符。</p>
<pre>
declare tmp1
tmp2=123
echo $tmp2
</pre>
<pre>
temp=123
export temp_env=123

env|sort>env.txt
export|sort>export.txt
set|sort>set.txt
</pre>

<h3>删除变量</h3>
<p>可以使用 unset 命令删除一个环境变量：</p>
<pre>
temp=123
unset temp
</pre>

<h3>引用变量</h3>
<p>引用变量不改变原变量的值，除非重新对其赋值。下面的匹配字串中可使用通配符。</p>
<table>
    <thead>
        <tr>
            <th>引用方式</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$变量名</td>
            <td>对变量原封不动的引用</td>
        </tr>
        <tr>
            <td>${变量名#匹配字串}</td>
            <td>从头向后开始匹配，删除符合匹配字串的最短数据</td>
        </tr>
        <tr>
            <td>${变量名##匹配字串}</td>
            <td>从头向后开始匹配，删除符合匹配字串的最长数据</td>
        </tr>
        <tr>
            <td>${变量名%匹配字串}</td>
            <td>从尾向前开始匹配，删除符合匹配字串的最短数据</td>
        </tr>
        <tr>
            <td>${变量名%%匹配字串}</td>
            <td>从尾向前开始匹配，删除符合匹配字串的最长数据</td>
        </tr>
        <tr>
            <td>${变量名/旧的字串/新的字串}</td>
            <td>将符合旧字串的第一个字串替换为新的字串</td>
        </tr>
        <tr>
            <td>${变量名//旧的字串/新的字串}</td>
            <td>将符合旧字串的全部字串替换为新的字串</td>
        </tr>
    </tbody>
</table>
<pre>
path=$PATH
path=${path%/home/adminly/mybin}
</pre>


<h2>Shell 通配符</h2>
<table>
    <thead>
    <tr>
        <th>通配符</th>
        <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>*</td>
        <td>匹配 0 或多个字符</td>
    </tr>
    <tr>
        <td>?</td>
        <td>匹配任意一个字符</td>
    </tr>
    <tr>
        <td>[list]</td>
        <td>匹配 list 中的任意单一字符</td>
    </tr>
    <tr>
        <td>[!list]</td>
        <td>匹配 除list 中的任意单一字符以外的字符</td>
    </tr>
    <tr>
        <td>[c1-c2]</td>
        <td>匹配 c1-c2 中的任意单一字符 如：[0-9] [a-z]</td>
    </tr>
    <tr>
        <td>{str1,str2,...}</td>
        <td>匹配 str1 或 str2 (或更多)其一字符串</td>
    </tr>
    <tr>
        <td>{c1..c2}</td>
        <td>匹配 c1-c2 中全部字符 如{1..10}</td>
    </tr>

    </tbody>
</table>

<h2>常用命令</h2>
<table>
    <thead>
        <tr>
            <th>命令</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>who</td>
            <td>查看用户，常用选项有：-m、-q、-u、-a、-d、-r 等</td>
        </tr>
        <tr>
            <td>sudo</td>
            <td>以超级管理员身份运行命令，具有root权限。</td>
        </tr>
        <tr>
            <td>sudo adduser xxx</td>
            <td>添加用户</td>
        </tr>
        <tr>
            <td>sudo deluser xxx --remove-home</td>
            <td>删除用户</td>
        </tr>
        <tr>
            <td>su [-l] xxx</td>
            <td>切换登陆用户</td>
        </tr>
        <tr>
            <td>groups [xxx]</td>
            <td>查看当前用户或指定用户xxx所属的组，sudo 用户组具有root权限。/etc/group文件存放用户组信息，格式为group_name:password:GID:user_list，x表示密码不可见</td>
        </tr>
        <tr>
            <td>sudo usermod -G sudo xxx</td>
            <td>在root权限下执行命令，将用户xxx添加到sudo组中</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
        <tr>
            <td>命令</td>
            <td>说明</td>
        </tr>
    </tbody>
</table>




{% endblock %}