
{% extends '../../../tpl/layout_os.html' %}

{% set title_suffix = '常用快捷键' %}

{% block content %}

<h1>常用快捷键</h1>

<h2>常用终端快捷键</h2>
<table>
    <thead>
        <tr>
            <th>终端快捷键</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tab</td>
            <td>补全命令</td>
        </tr>
        <tr>
            <td>clear</td>
            <td>清空终端</td>
        </tr>
        <tr>
            <td>Ctrl + c</td>
            <td>强行终止当前程序，但不会关闭终端</td>
        </tr>
        <tr>
            <td>Ctrl + d</td>
            <td>关闭终端</td>
        </tr>
        <tr>
            <td>Ctrl + s</td>
            <td>暂停当前程序，暂停后按下任意键恢复运行</td>
        </tr>
        <tr>
            <td>Ctrl + z</td>
            <td>将当前程序放到后台运行，恢复到前台为命令fg</td>
        </tr>
        <tr>
            <td>Ctrl + a</td>
            <td>将光标移至输入行头，相当于Home键</td>
        </tr>
        <tr>
            <td>Ctrl + e</td>
            <td>将光标移至输入行末，相当于End键</td>
        </tr>
        <tr>
            <td>Ctrl + k</td>
            <td>删除从光标所在位置到行末</td>
        </tr>
        <tr>
            <td>Alt+Backspace</td>
            <td>向前删除一个单词</td>
        </tr>
        <tr>
            <td>上下方向键</td>
            <td>从先前输入的历史记录中,使用的前一条或后一条命令进行填充</td>
        </tr>
    </tbody>
</table>

{% endblock %}